<!-- Pass on title -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else { %> <% res.redirect('/') %> <% } %>

<!-- Flash message -->
<%- messages() %>

<form action="/account/update" method="post">
  <fieldset>
    <legend>Update Your Account Information</legend>
    <h2>ALL FIELDS ARE REQUIRED</h2>

    <label for="account_firstname">First Name</label>
    <input
      id="account_firstname"
      class="r-firstname"
      name="account_firstname"
      type="text"
      required
      placeholder="Enter firstname"
      value="<%= locals.account_firstname ? locals.account_firstname : '' %>"
    />

    <label for="account_lastname">Last Name</label>
    <input
      id="account_lastname"
      class="lastname"
      name="account_lastname"
      type="text"
      required
      placeholder="Enter lastname"
      value="<%= locals.account_lastname ? locals.account_lastname : '' %>"
    />

    <label for="account_email">Email Address</label>
    <input
      id="account_email"
      class="username"
      name="account_email"
      type="email"
      required
      placeholder="someone@gmail.com"
      value="<%= locals.account_email ? locals.account_email : '' %>"
    />

    <button class="r-submit" type="submit" name="login">Update Account</button>
  </fieldset>
</form>

<h2>Update Password</h2>
<form action="/account/updatePassword" method="post">
  <fieldset>
    <legend>Update Your Password Information</legend>
    <h2>ALL FIELDS ARE REQUIRED</h2>
    <!-- Hidden field to pass account_id -->
    <input type="hidden" name="account_id" value="<%= locals.account_id %>" />

    <label for="account_password">Update Password</label>
    <input
      id="account_password"
      class="password"
      name="account_password"
      type="password"
      pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
      required
      placeholder="Enter Password"
    />

    <p>
      Passwords must be at least 12 characters long and include 1 uppercase
      letter, 1 number, and 1 special character.
    </p>
    <button class="r-submit" type="submit">Update Password</button>
  </fieldset>
</form>
